<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Rails Stupid Coach</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Speak to your coach</h1>
        <form action="/answer">
          <label for="question"></label>
          <input type="text" id="question" name="user_question" placeholder="what time is it?">
          <input class="btn btn-secondary" type="submit" value="Go on!">
        </form>
      </main>

      <footer class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>

    </div>

  </div>

</div>

